<<%= stylesheet_link_tag 'public/bottles/bottles', :media => "all" %>
<%= stylesheet_link_tag 'public/bottles/bottles-reset', :media => "all" %>
<div class="contents-bottles">
	<section class="bottles_list">

	    <div class="inner">

	      <div class="ttls">
	        <p>検索結果</p>
	      </div> <!--ttl-->

	      <div class="heading">
	        <p> <span><%= @bottles.size%></span> 件ヒットしました！</p>
	      </div> <!--heading-->

        
        <div class="wrap">
          <% @bottles.each do |bottle| %>
            <div class="box">
              <figure>
              <%= attachment_image_tag bottle, :image%>
              </figure>
              <div class="txt">
                <p><%= link_to bottle.japanese_bottle_name, bottle_path(bottle.id)%></p>
              </div> <!--txt-->
            </div> <!--box-->
          <% end %>
        </div> <!--wrap-->
	        

	    </div> <!--inner-->

	</section>
</div>
