<p><%= link_to "ログアウトする",destroy_admin_session_path,method: :delete%></p>
<h2>ボトル追加</h2>
<%= form_with model:@new_bottle, url: admin_bottles_path  do  |f| %>
    <p>地域</p>
    <%= collection_select(:select_area,:id,@areas,:id,:name)%>
    <p>ボトル名</p>
    <%= f.text_field :name%>
    <p>度数</p>
    <%= f.text_field :alcohol_content%>
    <p>年数</p>
    <%= f.text_field :age%>
    <p>バージョン</p>
    <%= f.text_field :feature%>
    #味後で確認
    <p>一言</p>
    <%= f.text_area :introduction%>
    <p>タグを追加</p>
    <%= f.submit %>
<%end%>

<%= form_with(model: @new_bottle, url: admin_bottles_path,local: true) do |f|   %>
    <div class="post-area">
      <div class="post-area__title">
        <div id="post_content"></div>
      </div>
      <div class="post-area__form"></div>
      <%= f.text_field :content   %>
    </div>
    <%= f.fields_for :new_tags do |tag|   %>
      <div class="tag-area">
        <div class="tag-area__title">
          <%= tag%>
        </div>
        <div class="tag-area__form">
          <%= tag.text_field :name %>
        </div>
      </div>
    <% end %>
    <%= f.submit "post" %>
  <% end %>